<h2><%= @question.title %></h2>
<p><%= @question.content %></p>
<p>Tagi:</p>
<lu>
<% @question.tag_list.split(',').each do |tag| %>
	<li><%= tag %></li>
<% end %>
</lu>

<p><%= @question.created_at %></p>
<p><%= "Asked by #{@question.user.email}" %></p>

<%= link_to 'Back', root_path %>
